# Django
Django==4.1.2

# Astral
astral==3.0

# Decouple
python-decouple==3.6

# Dependencies for production
dj-database-url==1.0.0
psycopg2-binary==2.9.9
psycopg2==2.9.4
gunicorn==20.1.0
django-heroku==0.3.1

# Cloudinary (CDN)
dj3-cloudinary-storage==0.0.6
